.footer {
  background-color: rgba(250, 250, 250, 1);
  padding-top: 90px;
  padding-bottom: 90px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  @include media-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.footer__address {
  width: 200px;
}

.footer__subheading {
  margin-bottom: 40px;
  @include media-mobile {
    margin-bottom: 20px;
  }
}

.footer__address-text {
  margin-bottom: 135px;
  @include media-mobile {
    margin-bottom: 50px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.footer__link{
  color: #000000;
}

.footer__social {
  display: flex;
  gap: 15px;
  align-items: center;
}
