.technology {
  padding-top: 75px;
  padding-bottom: 130px;
  @include media-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.technology__heading {
  margin-bottom: 95px;
  @include media-tablet {
    margin-bottom: 50px;
  }
}

.technology__list {
  counter-reset: reset;
  @include flex-center;
  @include media-mobile {
    display: flex;
    flex-wrap: wrap;
  }
}

.technology__item {
  counter-increment: reset;
  width: 190px;
  @include media-tablet {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.technology__item::before {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  content: '0' counter(reset);
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}

.technology__icon {
  height: 55px;
  transform: translate(-95px, 5px);
  margin-bottom: 10px;
  @include media-tablet {
    transform: translate(50px, -70px);
  }
  @include media-mobile {
    transform: translate(0px, -70px);
  }
}

.technology__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-30px, 0px);
  width: 100%;
  @include media-tablet {
    transform: translate(2px, -80px);
  }
}

.technology__item img {
  height: 60px;
  align-items: center;
}

.technology__subheading {
  margin-bottom: 10px;
  text-align: center;

}

.technology__text {
  text-align: center;
}
